.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
  display: column;
}

.header {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 600px;
  max-height: 756px; 
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  position: absolute;
  width: 228px;
  height: 32px;
}

.logo_place_header {
  margin-top: 30px;
  margin-left: 64px;
  z-index: 2;
}

.header__title {
  align-self: center;
  margin: 0 0 0 64px;
  width: 730px;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  z-index: 2;
}

.header__subtitle {
  position: absolute;
  width: 338px;
  bottom: 30px;
  left: 64px;
  margin: 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;
}

.header__main-illustration {
  position: absolute;
  width: 765px;
  height: 608px;
  object-fit: cover;
  right: 0;
  bottom: 0;
  z-index: 1;
}

  /* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.description {
  margin-top: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0;
  padding-top: 0;
  padding-bottom: 30px;
}

.two-columns__paragraph:last-child {
  padding-bottom: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

.two-columns__brief {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  width: 175px;
}

.digits {
  margin-top: 100px;
  position: relative;
}

.table {
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  width: 1100px;
  margin: auto;
  flex-wrap: wrap;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.section__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  margin: auto;
  text-align: center;
}

.section__subtitle {
  margin: auto;
  text-align: center;
  padding-top: 20px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 100px;
  height: 890px;
  background-color: #f2f2f2;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  margin: 100px auto 70px;
  z-index: 1;  
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}

.feynman__image {
  position: absolute;
  object-fit: cover;
  width: 867px;
  height: 637px;
  left: 0;
  bottom: 0;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.kaufman {
  position: relative;
  background-color: #1f1f1f;
  padding: 90px 0;
  overflow: hidden;
} 

.section__title_theme_dark {
  color: white;
}

.section__subtitle_theme_dark {
  color: white;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  z-index: 1;
}

.kauman__triangle {
  position: absolute;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 40px;
  min-height: 350px;
  box-sizing: border-box; 
  background-color: #1f1f1f;
}

.footer__columns { 
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

.footer__column_content_copyright { 
  position: relative;
  flex-basis: 711px;
  padding: 0;
}

.logo_place_footer { 
  top: 0;
  left: 0;
}

.footer_author {
  position: absolute;
  margin: 18px auto 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 0;
  left: 0;
  color: #fff;
}

.footer_column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.footer_column-links {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  margin: 20px auto 16px;
  padding: 0;
}

.footer_social-icon {
  color: white;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.footer_column-link {
  color: white;
  text-decoration: none;
  margin: 0 auto;
}